<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=pagetitle%></title>

  </head>
  <body>

    <%if(blogs) {%>

    <div class = "form">
      <div class = "form-1">
        <form action="/sortByDate" method="POST">
        <input type="hidden" name = "date" value="desc">
        <button type="submit">Sort By Date</button>
      </form>
    </div>

     <br><br>

      <div class="form-1">
        <form action="/createBlog" method="GET">
          <button type="submit">Create New Post</button>
        </form>
      </div>
    </div>

    <ol type="1">
      <% for(let i of blogs){ %>
        <li class="box box-1">
          <h1><%=i.name%></h1>
          <hr>
          <p><%=i.content%></p>
          <h4><%=i.dateTime%></h4>
          <h4><%=i.admin%></h4>

          <button><a href="/getUpdate/<%=i._id%>?update=true">Update</a></button>
        </li>
      <% } %>
    </ol>
    <% } else {%>
      <h1>No record exist</h1>
      <%}%>
  </body>
</html>
